<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <form action="/new" method="post">
    <br>
	<label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
	</br>
	<br>
	<label for="flag_color">Colour of flag:</label>
	<input type="text" name="flag_color" />
    </br>
	<br>
	<label for="flag_color_secondary">Secondary flag colour:</label>
	<input type="text" name="flag_color_secondary" />
    </br>
	<br>
	<label for="flag_pattern">Flag pattern:</label>
	<input type="text" name="flag_pattern" />
    </br>
	<br>
	<label for="power_type">Power type:</label>
	<input type="text" name="power_type" />
    </br>
	<input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
